@import url("https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.css");
/*@import url("https://ththyththy.github.io/haso2/tgd/css/hasosnow.css");*/
/*@import url("https://ththyththy.github.io/haso2/tgd/css/HappyXMAS.css");*/


html {
  background: #d6e6f5;
  height: auto !important;
}

body {
  background: transparent;
  font-family: 'NanumSquareRound';
  font-size: 15px
}

header .row>div:nth-child(1)>a {
  display: block;
  width: 240px;
  height: 50px;
  background: url(https://raw.githubusercontent.com/for-haso/storage/master/png/logo_nyo.png) no-repeat;
  background-size: auto 50px;
}

header .row>div:nth-child(1)>a img{opacity:0}

header #header-bar{
  margin-top:1em;
  margin-bottom:1em;padding-right:30px;
  padding-left:30px
}

header #header-bar #header-top-notice a,header #header-bar a.dropdown-toggle{
  color: #4C4646
}

header #right-search-form>#right-search-btn{
  color: #1f94f5;
  background:0 0;border:none;
  font-size:1.4em
}

header #right-search-form>input[type=text]{
  position:relative;
  border:3px solid #1f94f5;
  background:#fff;
  font-size:1.1em;
  padding:.3em .5em
}

header #header-bar>.row{
  padding-top:.3em;
  padding-bottom:.3em;
  border-top:5px solid #1f94f5;
  border-bottom: none;
  border-right: none;
  z-index:200;
  border-radius:6px
}

#main #main-content>div.frame,
#main .menu-wrapper{
  border-right:0;
  border-bottom:0;
  border-radius:6px;
  background:0 0
}

header #header-bar #header-top-notice strong.notice-badge{
  background: #1f94f5;
  padding:4px 8px;
  color:#fff;font-weight:700
}

#main .menu-wrapper>.header {
  background: #1f94f5;
  color: #fff;
  padding: 0.45em 1.4em 0.45em 1em;
  font-weight:700;
  border-radius:6px 6px 0 0
}

#board-info #board-info-bottom a,
#board-info #viewers-area,
#board-info h1>a,
#main .menu-wrapper>a{
  color: #4C4646
}

#main .menu-wrapper>a>em {
  color: #1f94f5;
  text-decoration: none;
  font-style: normal;
  width: 24px;
  text-align: center;
  display: inline-block;
  font-weight: bold;
}
.pagination>li>a,
.pagination>li>span{
  color: #1f94f5
}

#main .menu-wrapper>a>i.fa.fa-square {
    width: 24px;
    display: inline-block;
    text-align: center;
    font-size: 0.1em;
    color: #1f94f5;
    vertical-align: 0.2em;
}

#main .menu-wrapper .spacer {
  background: #1f94f5;
  height: 0.15em;
}

.pagination>li>a:hover{
  background-color: #9fe7fe;
  animation: infinite mabataki 1.5s;
  color:#fff
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover{
  background-color: #1f94f5;
  border-color: #1f94f5
}

#article-content-wrapper>.header{
  border-top:3px solid #1f94f5;
  background: #9cd6ec
}

#article-content-wrapper>.footer{
  background: #9cd6ec
}

#article-list{
  margin:0;
  padding:0 0 2em;
  background:#fff;
  border-radius:6px
}

#article-list>.article-list-row>.item>.list-header>span{
  background-color: #1f94f5;
  color:#fff;
  font-weight:7;
  padding:1px 5px;
  font-size:11px;
  border-radius:100px
}

#article-list>.article-list-row:hover .item>.list-header.v0>span,
#article-list>.article-list-row>.item>.list-header.v0>span:hover{
  background-color: #9cd6ec !important
}

#article-list #article-list-category{
  border-top:3px solid #1f94f5;
  background: #1f94f5;
  border-radius:6px 6px 0 0;
  margin-top:10px
}

#article-list #article-list-category>a{
  display:inline-block;
  padding:11px 16px;
  background: #1f94f5;
  text-decoration:none;
  font-size:12px;
  font-weight:700;
  color:#fff!important;
  border-radius:6px 6px 0 0
}

#article-list #article-list-category > a:hover {
  animation: infinite mabataki 2s
}

#article-list #article-list-category > a.active,
#article-list #article-list-category>a:hover {
  background: #1f94f5
}

#article-reply-area #reply-best-area .reply,
#article-reply-area #reply-real-area .reply{
  border:0
}
#article-reply-area>.header h5,
#lastc{
  color:#fff
}
#article-reply-area #reply-best-area,
#article-reply-area #reply-real-area{
  padding:0
}
#article-reply-area #reply-best-area .reply>.reply-header,
#article-reply-area #reply-real-area .reply>.reply-header{
  background: #9cd6ec;
  width:auto;
  padding:.5em 1em
}

#article-reply-area #reply-best-area .reply>.reply-content p,
#article-reply-area #reply-real-area .reply>.reply-content p{
  padding:0 1em
}

#article-reply-area>.header{
  width:848.66px;
  background: #1f94f5;
  margin:0 auto;
  border-radius:6px 6px 0 0;padding:1em
}

#article-content-wrapper>.vote-area,
#article-reply-area #reply-best-area .reply>.reply-content,
#article-reply-area #reply-real-area .reply>.reply-content{
  border:0;background:#fff
 }
  
#article-reply-area #reply-best-area .reply>.reply-content{
  background:#c1ffd7
}

#article-info,
#article-list #article-list-category>a.active,
#article-list #article-list-category>a:hover,
h3{
  background: #1f94f5
}

@keyframes mabataki {
    0% {
        background-color: #4ab4f3;
    }
    40% {
        background-color: #b0ddf4;
    }
    100% {
        background-color: #4ab4f3;
    }
}

#article-reply-area{
  margin:0 auto;
  background:#fff;
  width:848.66px;
  border-radius:6px 6px 0 0
}

#board-info {
    background-color: #1f94f5;
    width: 100%;
    height: 75px;
    overflow: hidden;
    line-height: 1;
    border-right: 0;
    border-radius: 6px;
    position: relative;
}

#board-info h1 {
    background-color: #1f94f5;
    font-size: 24px;
    vertical-align: top;
    padding-bottom: 3px;
    border-bottom: 0px solid #fff;
    margin-left: 63px;
}

#board-info h1>a {	
  text-decoration: none;	
  color: #ffffff;	
  font-weight: bold;	
}

#board-info #board-info-bottom {
    padding-top: 3px;
    margin-left: 63px;
}

#board-info #board-info-bottom a {	
  font-size: 12px;	
  color: #ffffff;	
  display: inline-block;	
  padding: 0 8px;	
  text-decoration: none;	
  border-right: 1px solid #ebebeb;	
}	

#board-info #board-info-profile-img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: auto;
}

.pull-right {
  float: left!important;
}

.fa-user:before {	
  content: "\f007";	
  color: #ffffff;	
}	

#board-info #viewers-area {
    font-size: 14px;
    color: #ffffff;
    font-weight: normal;
    vertical-align: middle;
    line-height: 18px;
    display: inline-block;
    background-color: rgba(255,255,255,.3);
    padding: 3px 10px;
    border-radius: 12px;
    height: 24px;
    margin-left: 5px;
}	

board-info #viewers-area #viewers {
    vertical-align: middle;
    color: #356c9c;
}

#board-info #viewers-area #viewers:before {	
  content: "<= 박제된 마지막 표본　　랜뽑단 ";	
}		
#board-info #viewers-area #viewers:after {	
  content: " 명 컴폭파 대기 중";	
}	

#board-info #viewers-area i.fa {
    width: 18px;
    height: 18px;
    vertical-align: middle;
}

#board-info #viewers-area .fa-user:before {
    color: rgba(10, 59, 84, 0);
    content: url("https://static-cdn.jtvnw.net/badges/v1/0aeb9b3c-dd14-4528-8d66-1c46370cd297/1");
}

.badge {	
  display: inline-block;	
  padding: 0px 0px;	
  font-size: 12px;	
  font-weight: 700;	
  line-height: 1;	
  color: #ffffff;	
  text-align: left;	
  white-space: nowrap;	
  vertical-align: middle;	
  background-color: #1f94f5;	
  border-radius: 0px;	
}	
	
.fa-star-o:before {	
  content: "\f006";	
  color: #e6e6fa;	
}	

#article-info{
  width:848.66px;
  margin:10px auto 0;
  border-radius:6px 6px 0 0;
  padding:.5em 1em
}

#article-info *{
  color:#fff!important
}

#article-list>.article-list-row>.item>.list-header>strong,
#article-list>.article-list-row>.item>.list-title>.list-writer.logged>span,
#article-list>.article-list-row>.item>.list-title>a,
body{
  color: #4c4646
}

#article-info>h2{
  font-weight:700
}

#article-content-wrapper #article-content{
  border:0;
  background:#fff;
  padding:1em 1.5em
}

#comment-write-form-area{
  padding:0 1em 1em
}

#article-list #article-list-menu>.btn.write{
  margin-right:1em
}
h3{
  font-size:24px;
  padding:8px!important;
  border-radius:6px 6px 0 0;
  color:#fff;
  margin-top:-14px
}

.panel-title{
  background:0 0
}

#articleWriteForm{
  background:#fff;
  padding:20px;
  border-radius:6px
}

.btn-primary{
  background: #1f94f5;
  border-color:#fff
}

.btn-primary:hover{
  animation: infinite mabataki 2s;
}

.btn-primary:active,.btn-primary:focus{
  background-color: #1f94f5 !important;
  border:none
}

.menu-wrapper div.spacer{
  pointer-events:none
}

#article-list>.article-list-row.notice{
  background-color: #4ab4f3
}

#article-list>.article-list-row.notice:hover,#article-list>.article-list-row:hover{
  background-color: #9fe7fe !important
}

#article-list>.article-list-row,
#article-list>.article-list-row>.item>.list-blocked,
#article-list>.article-list-row>.item>.list-category,
#article-list>.article-list-row>.item>.list-checkbox,
#article-list>.article-list-row>.item>.list-header,
#article-list>.article-list-row>.item>.list-time,
#article-list>.article-list-row>.item>.list-title{
  border:0
}

header>#header-search-bar #header-search-input{border:2px solid #06c}
header>#header-search-bar #header-search-btn{color:#09f}
.fr-toolbar{
  border-top:5px solid #4c4646
}

#article-list #article-list-menu>.btn.best,.btn-outline-success{
  border-color: #1f94f5;
  color: #1f94f5
}

.fr-popup .fr-command.fr-btn,.fr-toolbar .fr-command.fr-btn{color: #4c4646}
span.a-badge i.fa.fa-star{color: #1f94f5}

#article-list #article-list-menu>.btn.best{
  margin-left:1em
}

.badge{background: #1f94f5}
